@model User
@{
    ViewData["Title"] = "UserResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div >
    <h2 class="text-center">User</h2>
    <div>
        <br />
        <img class="center-block" src=@Model.Avatar alt="Avatar" />
        <br />
        <br />
        <table class="table table-hover">
            <thead>
                <tr class="text-center">
                    <td>Id</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>CreatedAt</td>
                </tr>
            </thead>
            <tbody>
            <tr class="btn-link text-center" type="button" data-toggle="collapse">
                <th scope="row" class="text-center">@Model.Id</th>
                <th scope="row" class="text-center">@Model.Name</th>
                <th scope="row" class="text-center">@Model.Email</th>
                <th scope="row" class="text-center">@Model.CreatedAt</th>
            </tr>
            <tr class="btn-link text-left" type="button" data-toggle="collapse" data-target="#col_@Model.Id">
                <td colspan="4" >Todos</td>
            </tr>
            <tr>
                <td colspan="4">
                <div class="collapse in bg-success" id="col_@Model.Id">
                    @foreach (var todo in Model.Todos)
                    {
                        <div>
                           Todo id: @todo.Id <br/>
                           Todo name: @Html.ActionLink(@todo.Name, "TodoResult", "Todo", new { todo.Name })<br />
                           Todo complete: @todo.IsComplete<br />
                           Todo created at: @todo.CreatedAt
                        </div>
                    }
                    </div>
                </td>
            </tr>
            <tr class="btn-link text-left" type="button" data-toggle="collapse" data-target="#col">
                <td colspan="4">Posts</td>
            </tr>
            <tr>
            <td colspan="4">
            <div class="collapse in bg-success" id="col">
            @foreach (var post in Model.Posts)
                {
                    <div>
                        Post likes: @post.Likes<br/>
                        Post title: @Html.ActionLink(@post.Title, "PostResult", "Post", new { post.Title })<br/>
                        Post body: @post.Body<br/>
                        Post created at: @post.CreatedAt
                    </div>
                }
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <br />
    </div>
</div>
