@model List<DataStructuresAndLINQ.User>
@{
    ViewData["Title"] = "UsersList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Get the list of users in alphabetical order with sorted todo items by length name</h2>
<div>
    <br />
    <table class="table text-center">
        <thead>
            <tr>
                <td>Id</td>
                <td>User name</td>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr class="btn-link">
                    <td>@item.Id</td>
                    <td>@Html.ActionLink(@item.Name, "UserResult", "User", new { item.Name })</td>
                </tr>
                @foreach (var todo in item.Todos)
                {
                    <tr class="collapse in" id="com">
                        <td>TODO id: @todo.Id</td>
                        <td>TODO name: @Html.ActionLink(@todo.Name, "TodoResult", "Todo", new { todo.Name })</td>
                    </tr>
                }
            </tbody>
        }
    </table>
    <br />
</div>
